In [25]:
import pandas as pd
import numpy as np

# 절대 모멘텀(상대 모멘텀도 있음)
1. 주식 데이터 로드
2. 파생변수 - 년월만 있는 파생변수 생성 -> Date 컬럼에서 년 월 추출하여 대입
3. 년, 월 별 마지막말의 month_last_dt 데이터프레임을 생성
4. 전월의 종가를 가지는 파생변수 하나 생성
5. 전년도의 종가를 가지는 파생변수 하나 생성
6. 전월, 전년도의 종가를 가지고 거래내역 생성
7. 수익율 계산

In [26]:
df = pd.read_csv("../csv/GDX.csv", index_col="Date")

In [27]:
df.head()

                 Open       High        Low      Close  Adj Close  Volume
Date
2006-05-22  36.520000  37.290001  35.869999  37.230000  34.280224  197100
2006-05-23  37.750000  39.220001  37.750000  37.959999  34.952393  620900
2006-05-24  37.130001  37.570000  35.869999  36.520000  33.626480  638600
2006-05-25  37.180000  38.320000  36.980000  38.320000  35.283867  367000
2006-05-26  38.740002  38.740002  37.770000  38.549999  35.495640  269400

In [28]:
# index를 시계열 데이터로 변경
# 년 월 파생변수 생성
df.index = pd.to_datetime(df.index, format = '%Y-%m-%d')

In [29]:
from datetime import datetime

In [30]:
# datetime 라이브러리를 이용하여 시계열로 변경
# 오류
# datetime.strptime(df.index, '%Y-%m-%d') # strptime()은 인덱스에서 사용 불가 str에서 가능

In [31]:
test_df = df.copy()

In [32]:
# 리셋 인덱스
test_df = test_df.reset_index()

In [33]:
# 오류
# datetime.strptime(test_df['Date'], '%Y-%m-%d') # strptime()은 시리즈에서도 사용 불가 str에서 가능

In [34]:
# 리셋 인덱스
# case 1
# test_df = test_df.reset_index()
# test_df['Date'] = test_df['Date'].apply(lambda x:datetime.strptime(x,'%Y-%m-%d')) # str로 바꿈
# test_df.set_index('Date')

In [35]:
test_df = df.copy()

In [36]:
# case 2
test_df.index

def change(x) :
    return datetime.strptime(x, '%Y-%m-%d').isoformat()

test_df.index = list(map(change, test_df.index))

TypeError: strptime() argument 1 must be str, not Timestamp

In [ ]:
test_df.head(2)

                      Open       High        Low      Close  Adj Close  Volume
2006-05-22T00:00:00  36.52  37.290001  35.869999  37.230000  34.280224  197100
2006-05-23T00:00:00  37.75  39.220001  37.750000  37.959999  34.952393  620900

In [ ]:
# map 함수
x =  [1,2,3,4]
def change(x):
    return x**2

list(map(lambda y:y**2,x))
# list(map(change, x)) 위에랑 같음, map(change, x) 이렇게 하면 map으로 나옴

[1, 4, 9, 16]

In [ ]:
df.index

In [ ]:
# 새로운 파생변수 년-월의 데이터를 대입
df['STD-YM'] = list(map(lambda x : datetime.strftime(x, '%Y-%m'), df.index))

In [ ]:
df.head(2)

             Open       High        Low      Close  Adj Close  Volume   STD-YM
Date
2006-05-22  36.52  37.290001  35.869999  37.230000  34.280224  197100  2006-05
2006-05-23  37.75  39.220001  37.750000  37.959999  34.952393  620900  2006-05

In [ ]:
(df['STD-YM'] != df.shift(-1)['STD-YM']).iloc[24:30]

In [ ]:
# 월별 마지막 인덱스만 추출하여 새로운 데이터프레임에 대입

# case 1 (shift 이용)
# 현재의 STD-YM의 값과 다음 행의 STD-YM의 값이 다른 경우
df.loc[df['STD-YM'] != df.shift(-1)['STD-YM']]

,Open,High,Low,Close,Adj Close,Volume,STD-YM
Date,,,,,,,
2006-05-31,38.900002,39.130001,38.119999,38.849998,35.771877,350700,2006-05
2006-06-30,38.700001,39.060001,38.320000,38.700001,35.633759,1069400,2006-06
2006-07-31,38.730000,38.860001,38.230000,38.759998,35.688999,233900,2006-07
2006-08-31,40.290001,40.599998,40.020000,40.590000,37.374012,535200,2006-08
2006-09-29,35.400002,36.220001,35.400002,35.650002,32.825417,342000,2006-09
...,...,...,...,...,...,...,...
2019-02-28,22.360001,22.360001,22.160000,22.240000,22.240000,32776800,2019-02
2019-03-29,22.610001,22.650000,22.389999,22.420000,22.420000,35233000,2019-03
2019-04-30,20.830000,21.030001,20.799999,20.889999,20.889999,19674200,2019-04
2019-05-31,21.240000,21.740000,21.190001,21.590000,21.590000,83347600,2019-05
2019-06-24,25.309999,25.770000,25.260000,25.703501,25.703501,27806170,2019-06

In [ ]:
last_df = df.loc[df['STD-YM'] == "2006-06"]
last_df.tail(1)

In [ ]:
# case 2 (for문 사용)
month_list_df = pd.DataFrame()

_list = df['STD-YM'].unique()

for i in _list:
    last_df = df.loc[df['STD-YM'] == i].tail(1)
    month_list_df = pd.concat([month_list_df, last_df])

month_list_df

,Open,High,Low,Close,Adj Close,Volume,STD-YM
Date,,,,,,,
2006-05-31,38.900002,39.130001,38.119999,38.849998,35.771877,350700,2006-05
2006-06-30,38.700001,39.060001,38.320000,38.700001,35.633759,1069400,2006-06
2006-07-31,38.730000,38.860001,38.230000,38.759998,35.688999,233900,2006-07
2006-08-31,40.290001,40.599998,40.020000,40.590000,37.374012,535200,2006-08
2006-09-29,35.400002,36.220001,35.400002,35.650002,32.825417,342000,2006-09
...,...,...,...,...,...,...,...
2019-02-28,22.360001,22.360001,22.160000,22.240000,22.240000,32776800,2019-02
2019-03-29,22.610001,22.650000,22.389999,22.420000,22.420000,35233000,2019-03
2019-04-30,20.830000,21.030001,20.799999,20.889999,20.889999,19674200,2019-04
2019-05-31,21.240000,21.740000,21.190001,21.590000,21.590000,83347600,2019-05
2019-06-24,25.309999,25.770000,25.260000,25.703501,25.703501,27806170,2019-06

In [ ]:
x = pd.Series([1,1,1,2,2,4,4,4,4,4,7,7,7,7,7,7]) 

x.unique()

array([1, 2, 4, 7])

In [ ]:
# 전월의 수정종가(Adj Close)를 가지는 파생변수(BF_1M)을 생성하고 결측치는 0으로 대체
# 전년도의 수정종가(Adj Close)를 가지는 파생변수(1BF_12M)을 생성하고 결측치는 0으로 대체

month_list_df["BF_1M"] = month_list_df.shift(1)["Adj Close"].fillna(0)

In [ ]:
month_list_df.head(3)

,Open,High,Low,Close,Adj Close,Volume,STD-YM,BF_1M
Date,,,,,,,,
2006-05-31,38.900002,39.130001,38.119999,38.849998,35.771877,350700,2006-05,0.000000
2006-06-30,38.700001,39.060001,38.320000,38.700001,35.633759,1069400,2006-06,35.771877
2006-07-31,38.730000,38.860001,38.230000,38.759998,35.688999,233900,2006-07,35.633759

In [ ]:
month_list_df["BF_12M"] = month_list_df.shift(12)["Adj Close"].fillna(0)

In [ ]:
month_list_df.head(13)

,Open,High,Low,Close,Adj Close,Volume,STD-YM,BF_1M,BF_12M
Date,,,,,,,,,
2006-05-31,38.900002,39.130001,38.119999,38.849998,35.771877,350700,2006-05,0.000000,0.000000
2006-06-30,38.700001,39.060001,38.320000,38.700001,35.633759,1069400,2006-06,35.771877,0.000000
2006-07-31,38.730000,38.860001,38.230000,38.759998,35.688999,233900,2006-07,35.633759,0.000000
2006-08-31,40.290001,40.599998,40.020000,40.590000,37.374012,535200,2006-08,35.688999,0.000000
2006-09-29,35.400002,36.220001,35.400002,35.650002,32.825417,342000,2006-09,37.374012,0.000000
2006-10-31,37.009998,37.970001,37.000000,37.959999,34.952393,583000,2006-10,32.825417,0.000000
2006-11-30,41.169998,41.980000,41.029999,41.980000,38.653877,1055700,2006-11,34.952393,0.000000
2006-12-29,40.000000,40.000000,39.549999,39.910000,36.854694,548200,2006-12,38.653877,0.000000
2007-01-31,38.970001,39.779999,38.959999,39.599998,36.568424,643000,2007-01,36.854694,0.000000
2007-02-28,39.400002,40.119999,38.830002,39.990002,36.928577,1259900,2007-02,36.568424,0.000000
2007-03-30,39.700001,39.799999,39.360001,39.570000,36.540733,399500,2007-03,36.928577,0.000000
2007-04-30,40.389999,40.389999,39.500000,39.560001,36.531502,387700,2007-04,36.540733,0.000000
2007-05-31,38.250000,39.200001,38.180000,39.160000,36.162109,782800,2007-05,36.531502,35.771877

In [ ]:
month_list_df.iloc[[0,12], [4,8]]

            Adj Close     BF_12M
Date
2006-05-31  35.771877   0.000000
2007-05-31  36.162109  35.771877

In [ ]:
# 거래내역 추가
# 구매조건 -> ((전월 종가 / 전년도 종가) -1)이 값이 0보다 크고 무한대가 아닌 경우
df['trade'] = ""

for i in month_list_df.index:
    signal = ""

    # 절대 모멘텀 계산
    momentum_index = month_list_df.loc[i, 'BF_1M'] / month_list_df.loc[i, 'BF_12M'] - 1

    # 절대 모멘텀 지표에 따라서 True와 False로 구분
    flag = True if((momentum_index > 0) and (momentum_index != -np.inf) and (momentum_index != np.inf))else False

    if flag:
        signal = 'buy'
    
    print('날짜 : ', i, "모멘텀 인덱스:", momentum_index, "flag:", flag, "signal:", signal)

    df.loc[i, 'trade'] = signal

날짜 :  2006-05-31 00:00:00 모멘텀 인덱스: nan flag: False signal:
날짜 :  2006-06-30 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2006-07-31 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2006-08-31 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2006-09-29 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2006-10-31 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2006-11-30 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2006-12-29 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2007-01-31 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2007-02-28 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2007-03-30 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2007-04-30 00:00:00 모멘텀 인덱스: inf flag: False signal:
날짜 :  2007-05-31 00:00:00 모멘텀 인덱스: 0.02123525695897932 flag: True signal: buy
날짜 :  2007-06-29 00:00:00 모멘텀 인덱스: 0.014827231670955676 flag: True signal: buy
날짜 :  2007-07-31 00:00:00 모멘텀 인덱스: -0.019604388455949806 flag: False signal:
날짜 :  2007-08-31 00:00:00 모멘텀 인덱스: -0.013153819290259716 flag: False signal:
날짜 :  2007-09-28 00:00:00 모멘텀 인덱스: 0.05917033742480693 flag: True signal: buy
날짜 :  2007-10-31 00:00:00 모멘텀 인덱스: 0.19815092488803265 flag: True signal: buy
날짜 :  2007-11-30 00:00:00 모멘텀 인덱스: 0.20883941344357249 flag: True signal: buy
날짜 :  2007-12-31 00:00:00 모멘텀 인덱스: 0.16161379606082193 flag: True signal: buy
날짜 :  2008-01-31 00:00:00 모멘텀 인덱스: 0.17680617026317558 flag: True signal: buy
날짜 :  2008-02-29 00:00:00 모멘텀 인덱스: 0.2802601898253487 flag: True signal: buy
날짜 :  2008-03-31 00:00:00 모멘텀 인덱스: 0.365029677976082 flag: True signal: buy
날짜 :  2008-04-30 00:00:00 모멘텀 인덱스: 0.22606127719577462 flag: True signal: buy
날짜 :  2008-05-30 00:00:00 모멘텀 인덱스: 0.13212409707630712 flag: True signal: buy
날짜 :  2008-06-30 00:00:00 모멘텀 인덱스: 0.23501487796082343 flag: True signal: buy
날짜 :  2008-07-31 00:00:00 모멘텀 인덱스: 0.23705506591070358 flag: True signal: buy
날짜 :  2008-08-29 00:00:00 모멘텀 인덱스: 0.1742883942766662 flag: True signal: buy
날짜 :  2008-09-30 00:00:00 모멘텀 인덱스: -0.15603876113042192 flag: False signal:
날짜 :  2008-10-31 00:00:00 모멘텀 인덱스: -0.320971751900909 flag: False signal:
날짜 :  2008-11-28 00:00:00 모멘텀 인덱스: -0.5404943986138491 flag: False signal:
날짜 :  2008-12-31 00:00:00 모멘텀 인덱스: -0.42024876314505843 flag: False signal:
날짜 :  2009-01-30 00:00:00 모멘텀 인덱스: -0.32711021681097885 flag: False signal:
날짜 :  2009-02-27 00:00:00 모멘텀 인덱스: -0.3556099402987438 flag: False signal:
날짜 :  2009-03-31 00:00:00 모멘텀 인덱스: -0.3006290263019352 flag: False signal:
날짜 :  2009-04-30 00:00:00 모멘텀 인덱스: -0.1541283285452283 flag: False signal:
날짜 :  2009-05-29 00:00:00 모멘텀 인덱스: -0.284876132526271 flag: False signal:
날짜 :  2009-06-30 00:00:00 모멘텀 인덱스: -0.09117102143686517 flag: False signal:
날짜 :  2009-07-31 00:00:00 모멘텀 인덱스: -0.13040470257706882 flag: False signal:
날짜 :  2009-08-31 00:00:00 모멘텀 인덱스: 0.05658880997819882 flag: True signal: buy
날짜 :  2009-09-30 00:00:00 모멘텀 인덱스: 0.1692807519599573 flag: True signal: buy
날짜 :  2009-10-30 00:00:00 모멘텀 인덱스: 1.1618139476199958 flag: True signal: buy
날짜 :  2009-11-30 00:00:00 모멘텀 인덱스: 0.5946554777541244 flag: True signal: buy
날짜 :  2009-12-31 00:00:00 모멘텀 인덱스: 0.5085595015548512 flag: True signal: buy
날짜 :  2010-01-29 00:00:00 모멘텀 인덱스: 0.3532863324289095 flag: True signal: buy
날짜 :  2010-02-26 00:00:00 모멘텀 인덱스: 0.2236080389907935 flag: True signal: buy
날짜 :  2010-03-31 00:00:00 모멘텀 인덱스: 0.19298566196193812 flag: True signal: buy
날짜 :  2010-04-30 00:00:00 모멘텀 인덱스: 0.3527373549799149 flag: True signal: buy
날짜 :  2010-05-28 00:00:00 모멘텀 인덱스: 0.14659192175379476 flag: True signal: buy
날짜 :  2010-06-30 00:00:00 모멘텀 인덱스: 0.3219229105894048 flag: True signal: buy
날짜 :  2010-07-30 00:00:00 모멘텀 인덱스: 0.3097067652650922 flag: True signal: buy
날짜 :  2010-08-31 00:00:00 모멘텀 인덱스: 0.2234347385931279 flag: True signal: buy
날짜 :  2010-09-30 00:00:00 모멘텀 인덱스: 0.186598965826263 flag: True signal: buy
날짜 :  2010-10-29 00:00:00 모멘텀 인덱스: 0.3232654268939421 flag: True signal: buy
날짜 :  2010-11-30 00:00:00 모멘텀 인덱스: 0.1238524684322746 flag: True signal: buy
날짜 :  2010-12-31 00:00:00 모멘텀 인덱스: 0.28759992934661915 flag: True signal: buy
날짜 :  2011-01-31 00:00:00 모멘텀 인덱스: 0.5197617669395509 flag: True signal: buy
날짜 :  2011-02-28 00:00:00 모멘텀 인덱스: 0.23681388302472395 flag: True signal: buy
날짜 :  2011-03-31 00:00:00 모멘텀 인덱스: 0.356307942053282 flag: True signal: buy
날짜 :  2011-04-29 00:00:00 모멘텀 인덱스: 0.1978906111905363 flag: True signal: buy
날짜 :  2011-05-31 00:00:00 모멘텀 인덱스: 0.255909198539376 flag: True signal: buy
날짜 :  2011-06-30 00:00:00 모멘텀 인덱스: 0.12668014223566537 flag: True signal: buy
날짜 :  2011-07-29 00:00:00 모멘텀 인덱스: 0.13974039523897108 flag: True signal: buy
날짜 :  2011-08-31 00:00:00 모멘텀 인덱스: 0.06834185281658978 flag: True signal: buy
날짜 :  2011-09-30 00:00:00 모멘텀 인덱스: 0.1304070990172881 flag: True signal: buy
날짜 :  2011-10-31 00:00:00 모멘텀 인덱스: -0.030325708813168317 flag: False signal:
날짜 :  2011-11-30 00:00:00 모멘텀 인덱스: -0.00458998099329444 flag: False signal:
날짜 :  2011-12-30 00:00:00 모멘텀 인덱스: -0.017244097618804077 flag: False signal:
날짜 :  2012-01-31 00:00:00 모멘텀 인덱스: -0.04344126273341076 flag: False signal:
날짜 :  2012-02-29 00:00:00 모멘텀 인덱스: -0.05361718833075768 flag: False signal:
날짜 :  2012-03-30 00:00:00 모멘텀 인덱스: -0.07555659602406029 flag: False signal:
날짜 :  2012-04-30 00:00:00 모멘텀 인덱스: -0.2012505636799743 flag: False signal:
날짜 :  2012-05-31 00:00:00 모멘텀 인덱스: -0.19994534805437103 flag: False signal:
날짜 :  2012-06-29 00:00:00 모멘텀 인덱스: -0.1957194203864071 flag: False signal:
날짜 :  2012-07-31 00:00:00 모멘텀 인덱스: -0.21078350447692895 flag: False signal:
날짜 :  2012-08-31 00:00:00 모멘텀 인덱스: -0.31603571761219706 flag: False signal:
날짜 :  2012-09-28 00:00:00 모멘텀 인덱스: -0.12887077062573693 flag: False signal:
날짜 :  2012-10-31 00:00:00 모멘텀 인덱스: -0.08475042126401144 flag: False signal:
날짜 :  2012-11-30 00:00:00 모멘텀 인덱스: -0.12180330738798684 flag: False signal:
날짜 :  2012-12-31 00:00:00 모멘텀 인덱스: -0.07544241622128056 flag: False signal:
날짜 :  2013-01-31 00:00:00 모멘텀 인덱스: -0.16986767678813952 flag: False signal:
날짜 :  2013-02-28 00:00:00 모멘텀 인덱스: -0.24097491874755916 flag: False signal:
날짜 :  2013-03-28 00:00:00 모멘텀 인덱스: -0.23725482099842843 flag: False signal:
날짜 :  2013-04-30 00:00:00 모멘텀 인덱스: -0.1756618798823547 flag: False signal:
날짜 :  2013-05-31 00:00:00 모멘텀 인덱스: -0.2993680335638734 flag: False signal:
날짜 :  2013-06-28 00:00:00 모멘텀 인덱스: -0.33426900912464863 flag: False signal:
날짜 :  2013-07-31 00:00:00 모멘텀 인덱스: -0.4222970413281275 flag: False signal:
날짜 :  2013-08-30 00:00:00 모멘텀 인덱스: -0.43118802709324955 flag: False signal:
날짜 :  2013-09-30 00:00:00 모멘텀 인덱스: -0.47065335371274875 flag: False signal:
날짜 :  2013-10-31 00:00:00 모멘텀 인덱스: -0.5221457542295851 flag: False signal:
날짜 :  2013-11-29 00:00:00 모멘텀 인덱스: -0.4666810033332749 flag: False signal:
날짜 :  2013-12-31 00:00:00 모멘텀 인덱스: -0.5197240472746099 flag: False signal:
날짜 :  2014-01-31 00:00:00 모멘텀 인덱스: -0.4875437913438945 flag: False signal:
날짜 :  2014-02-28 00:00:00 모멘텀 인덱스: -0.36629692419337145 flag: False signal:
날짜 :  2014-03-31 00:00:00 모멘텀 인덱스: -0.3098274399790064 flag: False signal:
날짜 :  2014-04-30 00:00:00 모멘텀 인덱스: -0.21502910609200898 flag: False signal:
날짜 :  2014-05-30 00:00:00 모멘텀 인덱스: -0.17503681352181566 flag: False signal:
날짜 :  2014-06-30 00:00:00 모멘텀 인덱스: -0.07262981960056658 flag: False signal:
날짜 :  2014-07-31 00:00:00 모멘텀 인덱스: -0.010804375880855366 flag: False signal:
날짜 :  2014-08-29 00:00:00 모멘텀 인덱스: -0.07026959303729896 flag: False signal:
날짜 :  2014-09-30 00:00:00 모멘텀 인덱스: 0.07676435478149446 flag: True signal: buy
날짜 :  2014-10-31 00:00:00 모멘텀 인덱스: -0.14101226642828624 flag: False signal:
날짜 :  2014-11-28 00:00:00 모멘텀 인덱스: -0.22030462794374095 flag: False signal:
날짜 :  2014-12-31 00:00:00 모멘텀 인덱스: -0.13109333922944244 flag: False signal:
날짜 :  2015-01-30 00:00:00 모멘텀 인덱스: -0.21206096065566782 flag: False signal:
날짜 :  2015-02-27 00:00:00 모멘텀 인덱스: -0.13305597888840237 flag: False signal:
날짜 :  2015-03-31 00:00:00 모멘텀 인덱스: -0.09276271912844325 flag: False signal:
날짜 :  2015-04-30 00:00:00 모멘텀 인덱스: -0.23849484314342828 flag: False signal:
날짜 :  2015-05-29 00:00:00 모멘텀 인덱스: -0.10034755610384427 flag: False signal:
날짜 :  2015-06-30 00:00:00 모멘텀 인덱스: -0.2548697684675234 flag: False signal:
날짜 :  2015-07-31 00:00:00 모멘텀 인덱스: -0.3100449573793722 flag: False signal:
날짜 :  2015-08-31 00:00:00 모멘텀 인덱스: -0.4814395946397202 flag: False signal:
날짜 :  2015-09-30 00:00:00 모멘텀 인덱스: -0.33507764482203617 flag: False signal:
날짜 :  2015-10-30 00:00:00 모멘텀 인덱스: -0.19696412499811145 flag: False signal:
날짜 :  2015-11-30 00:00:00 모멘텀 인덱스: -0.1798294022785626 flag: False signal:
날짜 :  2015-12-31 00:00:00 모멘텀 인덱스: -0.2513601001268818 flag: False signal:
날짜 :  2016-01-29 00:00:00 모멘텀 인덱스: -0.3791977687870235 flag: False signal:
날짜 :  2016-02-29 00:00:00 모멘텀 인덱스: -0.3265092917938043 flag: False signal:
날짜 :  2016-03-31 00:00:00 모멘텀 인덱스: 0.07161337807956514 flag: True signal: buy
날짜 :  2016-04-29 00:00:00 모멘텀 인덱스: 0.0015557194365176663 flag: True signal: buy
날짜 :  2016-05-31 00:00:00 모멘텀 인덱스: 0.33051851459406967 flag: True signal: buy
날짜 :  2016-06-30 00:00:00 모멘텀 인덱스: 0.2823015373079145 flag: True signal: buy
날짜 :  2016-07-29 00:00:00 모멘텀 인덱스: 1.0325583142916508 flag: True signal: buy
날짜 :  2016-08-31 00:00:00 모멘텀 인덱스: 1.186561382780165 flag: True signal: buy
날짜 :  2016-09-30 00:00:00 모멘텀 인덱스: 0.8724427620599857 flag: True signal: buy
날짜 :  2016-10-31 00:00:00 모멘텀 인덱스: 0.7818649780217433 flag: True signal: buy
날짜 :  2016-11-30 00:00:00 모멘텀 인덱스: 0.7972612568962663 flag: True signal: buy
날짜 :  2016-12-30 00:00:00 모멘텀 인덱스: 0.5182214464916264 flag: True signal: buy
날짜 :  2017-01-31 00:00:00 모멘텀 인덱스: 0.4764586915556577 flag: True signal: buy
날짜 :  2017-02-28 00:00:00 모멘텀 인덱스: 0.23834767778472887 flag: True signal: buy
날짜 :  2017-03-31 00:00:00 모멘텀 인덱스: 0.1475242348287047 flag: True signal: buy
날짜 :  2017-04-28 00:00:00 모멘텀 인덱스: -0.11436539634531417 flag: False signal:
날짜 :  2017-05-31 00:00:00 모멘텀 인덱스: -0.012654408243646165 flag: False signal:
날짜 :  2017-06-30 00:00:00 모멘텀 인덱스: -0.17879477447836167 flag: False signal:
날짜 :  2017-07-31 00:00:00 모멘텀 인덱스: -0.2761088728634029 flag: False signal:
날짜 :  2017-08-31 00:00:00 모멘텀 인덱스: -0.10058512227018401 flag: False signal:
날짜 :  2017-09-29 00:00:00 모멘텀 인덱스: -0.061995417625173466 flag: False signal:
날짜 :  2017-10-31 00:00:00 모멘텀 인덱스: -0.06091453098866351 flag: False signal:
날짜 :  2017-11-30 00:00:00 모멘텀 인덱스: 0.08233261913633871 flag: True signal: buy
날짜 :  2017-12-29 00:00:00 모멘텀 인덱스: 0.07409174455740897 flag: True signal: buy
날짜 :  2018-01-31 00:00:00 모멘텀 인덱스: -0.02099855197441236 flag: False signal:
날짜 :  2018-02-28 00:00:00 모멘텀 인덱스: 0.0477733651797303 flag: True signal: buy
날짜 :  2018-03-29 00:00:00 모멘텀 인덱스: -0.05645515030092174 flag: False signal:
날짜 :  2018-04-30 00:00:00 모멘텀 인덱스: -0.003268551889144433 flag: False signal:
날짜 :  2018-05-31 00:00:00 모멘텀 인덱스: -0.01014723893992886 flag: False signal:
날짜 :  2018-06-29 00:00:00 모멘텀 인덱스: 0.019938683673460966 flag: True signal: buy
날짜 :  2018-07-31 00:00:00 모멘텀 인덱스: -0.016185393855149277 flag: False signal:
날짜 :  2018-08-31 00:00:00 모멘텀 인덱스: -0.13221300758854437 flag: False signal:
날짜 :  2018-09-28 00:00:00 모멘텀 인덱스: -0.1855546440136614 flag: False signal:
날짜 :  2018-10-31 00:00:00 모멘텀 인덱스: -0.1695095941618312 flag: False signal:
날짜 :  2018-11-30 00:00:00 모멘텀 인덱스: -0.15074622826845818 flag: False signal:
날짜 :  2018-12-31 00:00:00 모멘텀 인덱스: -0.17857135596158147 flag: False signal:
날짜 :  2019-01-31 00:00:00 모멘텀 인덱스: -0.10730158730158734 flag: False signal:
날짜 :  2019-02-28 00:00:00 모멘텀 인덱스: 0.06838652876240969 flag: True signal: buy
날짜 :  2019-03-29 00:00:00 모멘텀 인덱스: 0.017182564374872866 flag: True signal: buy
날짜 :  2019-04-30 00:00:00 모멘텀 인덱스: 0.01160790745294693 flag: True signal: buy
날짜 :  2019-05-31 00:00:00 모멘텀 인덱스: -0.059958495973121306 flag: False signal:
날짜 :  2019-06-24 00:00:00 모멘텀 인덱스: -0.0271522746409959 flag: False signal:

/var/folders/xs/8nhrbkk97jzf2f4zjswkk0b80000gn/T/ipykernel_2417/4018602714.py:9: RuntimeWarning: invalid value encountered in scalar divide
  momentum_index = month_list_df.loc[i, 'BF_1M'] / month_list_df.loc[i, 'BF_12M'] - 1
/var/folders/xs/8nhrbkk97jzf2f4zjswkk0b80000gn/T/ipykernel_2417/4018602714.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  momentum_index = month_list_df.loc[i, 'BF_1M'] / month_list_df.loc[i, 'BF_12M'] - 1

In [ ]:
df['trade'].value_counts()

trade
       3234
buy      61
Name: count, dtype: int64

## 수익률 계산
1. 파생변수(return) 값은 1로 생성
2. rtn = 1.0, buy, sell 변수는 0으로 생성
3. 반복문을 이용해서 현재의 trade가 buy이고 전 행의 trade가 ""는 경우 구매 날
4. 전 행의 trade가 buy이고 현재의 trade가 ""인 경우 판매 날
5. 수익율 계산해서 return대입

## 누적 수익율 계산
1. acc_rtn = 1.0 생성
2. return의 항목들을 누적 곱하여 acc_rtn 컬럼에 대입
3. 최종적으로 acc_rtn을 출력

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3295 entries, 2006-05-22 to 2019-06-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3295 non-null   float64
 1   High       3295 non-null   float64
 2   Low        3295 non-null   float64
 3   Close      3295 non-null   float64
 4   Adj Close  3295 non-null   float64
 5   Volume     3295 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 180.2 KB

In [ ]:
len(df.index.unique())

3295

In [ ]:
df.index.value_counts().sort_values(ascending=False)

Date
2006-05-22    1
2006-06-09    1
2006-05-24    1
2006-05-25    1
2006-05-26    1
             ..
2019-06-17    1
2019-06-18    1
2019-06-19    1
2019-06-20    1
2019-06-24    1
Name: count, Length: 3295, dtype: int64

In [ ]:
df['trade'].value_counts()

trade
       3234
buy      61
Name: count, dtype: int64

In [ ]:
df['return'] = 1
rtn = 1.0
buy = 0
sell = 0

for i in df.index:
    # 구매한 날을 체크, 구매가 지정
    if (df.loc[i, 'trade'] == "buy") and (df.shift(1).loc[i, 'trade'] == ""):
        buy = df.loc[i, 'Adj Close']
        print('진입일:', i , '구입가격:', buy)
    # 판매한 날을 체크, 판매가 지정, 수익률 계산
    elif (df.loc[i, 'trade'] == "") and (df.shift(1).loc[i, 'trade'] == "buy"):
        sell = df.loc[i, 'Adj Close']
        rtn = (sell-  buy) / buy + 1
        df.loc[i, 'return'] = rtn
        print('판매일:', i, '판매가격: ', sell, "수익율:", rtn)

진입일: 2007-05-31 00:00:00 구입가격: 36.162109
판매일: 2007-06-01 00:00:00 판매가격:  36.993214 수익율: 1.0229827580023056
진입일: 2007-06-29 00:00:00 구입가격: 34.989338
판매일: 2007-07-02 00:00:00 판매가격:  35.866615 수익율: 1.0250726950021176
진입일: 2007-09-28 00:00:00 구입가격: 41.878242
판매일: 2007-10-01 00:00:00 판매가격:  42.312256 수익율: 1.010363711065044
진입일: 2007-10-31 00:00:00 구입가격: 46.72633
판매일: 2007-11-01 00:00:00 판매가격:  45.082588 수익율: 0.9648219323024086
진입일: 2007-11-30 00:00:00 구입가격: 42.810921
판매일: 2007-12-03 00:00:00 판매가격:  43.235706 수익율: 1.00992235135516
진입일: 2007-12-31 00:00:00 구입가격: 43.033947
판매일: 2008-01-02 00:00:00 판매가격:  46.235912 수익율: 1.0744055617301382
진입일: 2008-01-31 00:00:00 구입가격: 47.278187
판매일: 2008-02-01 00:00:00 판매가격:  46.151402 수익율: 0.9761669160452365
진입일: 2008-02-29 00:00:00 구입가격: 49.879185
판매일: 2008-03-03 00:00:00 판매가격:  51.287678 수익율: 1.028238091700977
진입일: 2008-03-31 00:00:00 구입가격: 44.78986
판매일: 2008-04-01 00:00:00 판매가격:  43.559784 수익율: 0.9725367304117495
진입일: 2008-04-30 00:00:00 구입가격: 40.939995
판매일: 2008-05-01 00:00:00 판매가격:  40.047958 수익율: 0.978211111164034
진입일: 2008-05-30 00:00:00 구입가격: 43.212353
판매일: 2008-06-02 00:00:00 판매가격:  43.57856 수익율: 1.0084745905875574
진입일: 2008-06-30 00:00:00 구입가격: 45.625561
판매일: 2008-07-01 00:00:00 판매가격:  46.508213 수익율: 1.0193455593893959
진입일: 2008-07-31 00:00:00 구입가격: 40.827316
판매일: 2008-08-01 00:00:00 판매가격:  39.813213 수익율: 0.9751611641578397
진입일: 2008-08-29 00:00:00 구입가격: 35.343613
판매일: 2008-09-02 00:00:00 판매가격:  33.099422 수익율: 0.9365036336268168
진입일: 2009-08-31 00:00:00 구입가격: 37.099522
판매일: 2009-09-01 00:00:00 판매가격:  36.423454 수익율: 0.9817769080690582
진입일: 2009-09-30 00:00:00 구입가격: 42.526897
판매일: 2009-10-01 00:00:00 판매가격:  40.432941 수익율: 0.9507616085885598
진입일: 2009-10-30 00:00:00 구입가격: 39.785034
판매일: 2009-11-02 00:00:00 판매가격:  40.263927 수익율: 1.0120370137172687
진입일: 2009-11-30 00:00:00 구입가격: 47.991817
판매일: 2009-12-01 00:00:00 판매가격:  50.405022 수익율: 1.0502836764859311
진입일: 2009-12-31 00:00:00 구입가격: 43.496857
판매일: 2010-01-04 00:00:00 판매가격:  44.908779 수익율: 1.032460322363062
진입일: 2010-01-29 00:00:00 구입가격: 38.329189
판매일: 2010-02-01 00:00:00 판매가격:  40.418842 수익율: 1.0545185811262534
진입일: 2010-02-26 00:00:00 구입가격: 41.313072
판매일: 2010-03-01 00:00:00 판매가격:  42.019035 수익율: 1.0170881264893592
진입일: 2010-03-31 00:00:00 구입가격: 41.80254
판매일: 2010-04-01 00:00:00 판매가격:  43.675705 수익율: 1.0448098369142163
진입일: 2010-04-30 00:00:00 구입가격: 47.544388
판매일: 2010-05-03 00:00:00 판매가격:  46.951374 수익율: 0.987527150417837
진입일: 2010-05-28 00:00:00 구입가격: 46.932549
판매일: 2010-06-01 00:00:00 판매가격:  46.885487 수익율: 0.9989972417649848
진입일: 2010-06-30 00:00:00 구입가격: 48.909252
판매일: 2010-07-01 00:00:00 판매가격:  46.706642 수익율: 0.9549653713779961
진입일: 2010-07-30 00:00:00 구입가격: 45.388844
판매일: 2010-08-02 00:00:00 판매가격:  45.228813 수익율: 0.9964742217272597
진입일: 2010-08-31 00:00:00 구입가격: 50.462372
판매일: 2010-09-01 00:00:00 판매가격:  49.746994 수익율: 0.9858235360002499
진입일: 2010-09-30 00:00:00 구입가격: 52.64616
판매일: 2010-10-01 00:00:00 판매가격:  53.276817 수익율: 1.0119791642923244
진입일: 2010-10-29 00:00:00 구입가격: 53.935722
판매일: 2010-11-01 00:00:00 판매가격:  53.869831 수익율: 0.9987783421161953
진입일: 2010-11-30 00:00:00 구입가격: 56.00655
판매일: 2010-12-01 00:00:00 판매가격:  56.740753 수익율: 1.013109234544888
진입일: 2010-12-31 00:00:00 구입가격: 58.251236
판매일: 2011-01-03 00:00:00 판매가격:  57.587898 수익율: 0.9886124648067555
진입일: 2011-01-31 00:00:00 구입가격: 51.096581
판매일: 2011-02-01 00:00:00 판매가격:  52.536987 수익율: 1.0281898704729384
진입일: 2011-02-28 00:00:00 구입가격: 56.697117
판매일: 2011-03-01 00:00:00 판매가격:  57.616322 수익율: 1.0162125527476114
진입일: 2011-03-31 00:00:00 구입가격: 56.952976
판매일: 2011-04-01 00:00:00 판매가격:  56.640263 수익율: 0.9945092772676181
진입일: 2011-04-29 00:00:00 구입가격: 58.94302
판매일: 2011-05-02 00:00:00 판매가격:  56.971931 수익율: 0.9665594161955054
진입일: 2011-05-31 00:00:00 구입가격: 55.105083
판매일: 2011-06-01 00:00:00 판매가격:  54.081638 수익율: 0.9814273939121005
진입일: 2011-06-30 00:00:00 구입가격: 51.731499
판매일: 2011-07-01 00:00:00 판매가격:  50.92601 수익율: 0.9844294285769681
진입일: 2011-07-29 00:00:00 구입가격: 53.911064
판매일: 2011-08-01 00:00:00 판매가격:  54.356449 수익율: 1.0082614767165419
진입일: 2011-08-31 00:00:00 구입가격: 59.511593
판매일: 2011-09-01 00:00:00 판매가격:  60.06123 수익율: 1.0092357971328376
진입일: 2011-09-30 00:00:00 구입가격: 52.300083
판매일: 2011-10-03 00:00:00 판매가격:  51.598824 수익율: 0.9865916273976085
진입일: 2014-09-30 00:00:00 구입가격: 20.70196
판매일: 2014-10-01 00:00:00 판매가격:  20.740725 수익율: 1.0018725280118406
진입일: 2016-03-31 00:00:00 구입가격: 19.649097
판매일: 2016-04-01 00:00:00 판매가격:  19.796688 수익율: 1.0075113375439084
진입일: 2016-04-29 00:00:00 구입가격: 25.414934
판매일: 2016-05-02 00:00:00 판매가격:  24.982004 수익율: 0.982965527276207
진입일: 2016-05-31 00:00:00 구입가격: 22.217159
판매일: 2016-06-01 00:00:00 판매가격:  22.354908 수익율: 1.0062001176658095
진입일: 2016-06-30 00:00:00 구입가격: 27.264723
판매일: 2016-07-01 00:00:00 판매가격:  28.583189 수익율: 1.0483579459068775
진입일: 2016-07-29 00:00:00 구입가격: 30.098446
판매일: 2016-08-01 00:00:00 판매가격:  30.432981 수익율: 1.0111146934296875
진입일: 2016-08-31 00:00:00 구입가격: 25.080399
판매일: 2016-09-01 00:00:00 판매가격:  25.995451 수익율: 1.036484746514599
진입일: 2016-09-30 00:00:00 구입가격: 26.005293
판매일: 2016-10-03 00:00:00 판매가격:  25.542843 수익율: 0.9822170817302462
진입일: 2016-10-31 00:00:00 구입가격: 24.125984
판매일: 2016-11-01 00:00:00 판매가격:  24.726181 수익율: 1.0248776174269203
진입일: 2016-11-30 00:00:00 구입가격: 20.495279
판매일: 2016-12-01 00:00:00 판매가격:  20.328011 수익율: 0.9918387058795345
진입일: 2016-12-30 00:00:00 구입가격: 20.643339
판매일: 2017-01-03 00:00:00 판매가격:  21.472231 수익율: 1.0401530004424187
진입일: 2017-01-31 00:00:00 구입가격: 23.613533
판매일: 2017-02-01 00:00:00 판매가격:  23.534592 수익율: 0.9966569593800301
진입일: 2017-02-28 00:00:00 구입가격: 22.547815
판매일: 2017-03-01 00:00:00 판매가격:  22.676096 수익율: 1.0056892874098888
진입일: 2017-03-31 00:00:00 구입가격: 22.508345
판매일: 2017-04-03 00:00:00 판매가격:  22.893188 수익율: 1.0170977919522737
진입일: 2017-11-30 00:00:00 구입가격: 22.17284
판매일: 2017-12-01 00:00:00 판매가격:  22.192577 수익율: 1.0008901430759434
진입일: 2017-12-29 00:00:00 구입가격: 23.117683
판매일: 2018-01-02 00:00:00 판매가격:  23.694632 수익율: 1.024957042624038
진입일: 2018-02-28 00:00:00 구입가격: 21.237633
판매일: 2018-03-01 00:00:00 판매가격:  21.456474 수익율: 1.010304396916549
진입일: 2018-06-29 00:00:00 구입가격: 22.192579
판매일: 2018-07-02 00:00:00 판매가격:  21.963789 수익율: 0.9896906979580877
진입일: 2019-02-28 00:00:00 구입가격: 22.24
판매일: 2019-03-01 00:00:00 판매가격:  21.700001 수익율: 0.9757194694244605
진입일: 2019-03-29 00:00:00 구입가격: 22.42
판매일: 2019-04-01 00:00:00 판매가격:  21.959999 수익율: 0.9794825602140945
진입일: 2019-04-30 00:00:00 구입가격: 20.889999
판매일: 2019-05-01 00:00:00 판매가격:  20.52 수익율: 0.9822882231827775

In [ ]:
acc_rtn = 1.0

for i in df.index:
    acc_rtn *= df.loc[i, 'return']
    df.loc[i, 'acc_rtn'] = acc_rtn
print('누적 수익율 :', acc_rtn)

누적 수익율 : 1.165001849964831

In [ ]:
# 누적곱을 해주는 함수 = cumprod()
df['return'].cumprod()

Date
2006-05-22    1.000000
2006-05-23    1.000000
2006-05-24    1.000000
2006-05-25    1.000000
2006-05-26    1.000000
                ...
2019-06-18    1.165002
2019-06-19    1.165002
2019-06-20    1.165002
2019-06-21    1.165002
2019-06-24    1.165002
Name: return, Length: 3295, dtype: float64

# 절대 모멘텀을 함수화
1. 첫번째 함수
    - 매개변수 1개(데이터프레임)
    - 데이터프레임에 결측치와 이상치를 제거
    - 수정종가를 제외한 나머지 칼럼은 삭제
    - 인덱스를 시계열로 변경
    - 'STD-YM' 파생변수를 생성하여 인덱스의 년-월 추출해서 대입
2. 두번째 함수
    - 매개변수 1개 (데이터프레임)
    - 새로운 데이터프레임(df2) 생성
    - 인자값으로 받아온 데이터프레임에서 년-월별 마지막 데이터들을 새로운 데이터프레임에 대입
    - df2에 파생변수 2개 생성
        - 'BF_1M' : 전월의 종가, 결측치는 0으로 대체
        - 'BF_12M' : 전년도의 종가, 결측치는 0으로 대체
    - df2를 리턴
3. 세번째 함수
    - 매개변수 2개(첫번째 함수의 결과(df1), 두번째 함수의 결과(df2))
    - df1에 trade 컬럼을 생성, 값은 ""
    - df1에 return 컬럼을 생성, 값은 1
    - df2의 값들을 이용하여 momentum_index를 구하고 df1에 거래 내역 삽입
    - return 컬럼의 데이터를 가지고 누적수익율(acc_rtn)에 대입
    - 누적 수익율을 print를 이용하여 출력
    - df1을 리턴

In [37]:
# 1번 함수 생성
def first(df):
    # 인덱스가 Date가 아니면? Date컬럼을 인덱스로 변경
    if 'Date' in df.columns:
        df = df.set_index('Date')
    # 결측치와 이상치를 제거
    df = df.loc[~df.isin([np.nan, np.inf, -np.inf]).any(axis='columns')]
    # 수정종가를 제외한 나머지 컬럼 삭제
    df = df[['Adj Close']]
    # 인덱스를 시계열로 변경
    df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
    # STD-YM 컬럼을 생성 
    df['STD-YM'] = list(map(lambda x : datetime.strftime(x, '%Y-%m'), df.index))

    return df

In [38]:
data = pd.read_csv("../csv/GDX.csv")

In [39]:
df1 = first(data)

In [40]:
# 2번함수 
def second(df):
    # df2 = pd.DataFrame()

    # _list = df['STD-YM'].unique()

    # for i in _list:
    #     last_df = df.loc[df['STD-YM'] == i].tail(1)
    #     df2 = pd.concat([df2, last_df])

    df2 = df.loc[df['STD-YM'] != df.shift(-1)['STD-YM']]
    
    df2['BF_1M'] = df2.shift(1)['Adj Close'].fillna(0)
    df2['BF_12M'] = df2.shift(12)['Adj Close'].fillna(0)

    return df2

In [41]:
df2 = second(df1)

/var/folders/xs/8nhrbkk97jzf2f4zjswkk0b80000gn/T/ipykernel_3131/449586186.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BF_1M'] = df2.shift(1)['Adj Close'].fillna(0)
/var/folders/xs/8nhrbkk97jzf2f4zjswkk0b80000gn/T/ipykernel_3131/449586186.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BF_12M'] = df2.shift(12)['Adj Close'].fillna(0)

In [42]:
# 3번 함수
def third(df1, df2):
    df1['trade'] = ""
    df1['return'] = 1

    for i in df2.index:
        signal = ""

        momentum_index = df2.loc[i, 'BF_1M'] / df2.loc[i, 'BF_12M'] - 1

        flag = True if((momentum_index > 0) \
                and (momentum_index != np.inf) \
                and (momentum_index != -np.inf)) else False
        
        if flag : 
            signal = 'buy'
        
        df1.loc[i, 'trade'] = signal
    
    rtn = 1.0
    buy = 0
    sell = 0

    for i in df1.index:
        if (df1.loc[i, 'trade'] == "buy") and (df1.shift(1).loc[i, 'trade'] == ""):
            buy = df1.loc[i, 'Adj Close']
            print('구입일 :', i, "구입 가격 :", buy)
        elif (df1.loc[i, 'trade'] == "") and (df1.shift(1).loc[i, 'trade'] == "buy"):
            sell = df1.loc[i, 'Adj Close']
            print('판매일 :', i, "판매 가격 :", sell)
            rtn = (sell - buy) / buy + 1
            df1.loc[i, 'return'] = rtn
    

    acc_rtn = 1.0

    for i in df1.index:
        acc_rtn *= df1.loc[i, 'return']
        df1.loc[i, 'acc_rtn'] = acc_rtn
    print(acc_rtn)

    return df1

In [43]:
third(df1, df2)

/var/folders/xs/8nhrbkk97jzf2f4zjswkk0b80000gn/T/ipykernel_3131/2487612304.py:9: RuntimeWarning: invalid value encountered in scalar divide
  momentum_index = df2.loc[i, 'BF_1M'] / df2.loc[i, 'BF_12M'] - 1
/var/folders/xs/8nhrbkk97jzf2f4zjswkk0b80000gn/T/ipykernel_3131/2487612304.py:9: RuntimeWarning: divide by zero encountered in scalar divide
  momentum_index = df2.loc[i, 'BF_1M'] / df2.loc[i, 'BF_12M'] - 1

구입일 : 2007-05-31 00:00:00 구입 가격 : 36.162109
판매일 : 2007-06-01 00:00:00 판매 가격 : 36.993214
구입일 : 2007-06-29 00:00:00 구입 가격 : 34.989338
판매일 : 2007-07-02 00:00:00 판매 가격 : 35.866615
구입일 : 2007-09-28 00:00:00 구입 가격 : 41.878242
판매일 : 2007-10-01 00:00:00 판매 가격 : 42.312256
구입일 : 2007-10-31 00:00:00 구입 가격 : 46.72633
판매일 : 2007-11-01 00:00:00 판매 가격 : 45.082588
구입일 : 2007-11-30 00:00:00 구입 가격 : 42.810921
판매일 : 2007-12-03 00:00:00 판매 가격 : 43.235706
구입일 : 2007-12-31 00:00:00 구입 가격 : 43.033947
판매일 : 2008-01-02 00:00:00 판매 가격 : 46.235912
구입일 : 2008-01-31 00:00:00 구입 가격 : 47.278187
판매일 : 2008-02-01 00:00:00 판매 가격 : 46.151402
구입일 : 2008-02-29 00:00:00 구입 가격 : 49.879185
판매일 : 2008-03-03 00:00:00 판매 가격 : 51.287678
구입일 : 2008-03-31 00:00:00 구입 가격 : 44.78986
판매일 : 2008-04-01 00:00:00 판매 가격 : 43.559784
구입일 : 2008-04-30 00:00:00 구입 가격 : 40.939995
판매일 : 2008-05-01 00:00:00 판매 가격 : 40.047958
구입일 : 2008-05-30 00:00:00 구입 가격 : 43.212353
판매일 : 2008-06-02 00:00:00 판매 가격 : 43.57856
구입일 : 2008-06-30 00:00:00 구입 가격 : 45.625561
판매일 : 2008-07-01 00:00:00 판매 가격 : 46.508213
구입일 : 2008-07-31 00:00:00 구입 가격 : 40.827316
판매일 : 2008-08-01 00:00:00 판매 가격 : 39.813213
구입일 : 2008-08-29 00:00:00 구입 가격 : 35.343613
판매일 : 2008-09-02 00:00:00 판매 가격 : 33.099422
구입일 : 2009-08-31 00:00:00 구입 가격 : 37.099522
판매일 : 2009-09-01 00:00:00 판매 가격 : 36.423454
구입일 : 2009-09-30 00:00:00 구입 가격 : 42.526897
판매일 : 2009-10-01 00:00:00 판매 가격 : 40.432941
구입일 : 2009-10-30 00:00:00 구입 가격 : 39.785034
판매일 : 2009-11-02 00:00:00 판매 가격 : 40.263927
구입일 : 2009-11-30 00:00:00 구입 가격 : 47.991817
판매일 : 2009-12-01 00:00:00 판매 가격 : 50.405022
구입일 : 2009-12-31 00:00:00 구입 가격 : 43.496857
판매일 : 2010-01-04 00:00:00 판매 가격 : 44.908779
구입일 : 2010-01-29 00:00:00 구입 가격 : 38.329189
판매일 : 2010-02-01 00:00:00 판매 가격 : 40.418842
구입일 : 2010-02-26 00:00:00 구입 가격 : 41.313072
판매일 : 2010-03-01 00:00:00 판매 가격 : 42.019035
구입일 : 2010-03-31 00:00:00 구입 가격 : 41.80254
판매일 : 2010-04-01 00:00:00 판매 가격 : 43.675705
구입일 : 2010-04-30 00:00:00 구입 가격 : 47.544388
판매일 : 2010-05-03 00:00:00 판매 가격 : 46.951374
구입일 : 2010-05-28 00:00:00 구입 가격 : 46.932549
판매일 : 2010-06-01 00:00:00 판매 가격 : 46.885487
구입일 : 2010-06-30 00:00:00 구입 가격 : 48.909252
판매일 : 2010-07-01 00:00:00 판매 가격 : 46.706642
구입일 : 2010-07-30 00:00:00 구입 가격 : 45.388844
판매일 : 2010-08-02 00:00:00 판매 가격 : 45.228813
구입일 : 2010-08-31 00:00:00 구입 가격 : 50.462372
판매일 : 2010-09-01 00:00:00 판매 가격 : 49.746994
구입일 : 2010-09-30 00:00:00 구입 가격 : 52.64616
판매일 : 2010-10-01 00:00:00 판매 가격 : 53.276817
구입일 : 2010-10-29 00:00:00 구입 가격 : 53.935722
판매일 : 2010-11-01 00:00:00 판매 가격 : 53.869831
구입일 : 2010-11-30 00:00:00 구입 가격 : 56.00655
판매일 : 2010-12-01 00:00:00 판매 가격 : 56.740753
구입일 : 2010-12-31 00:00:00 구입 가격 : 58.251236
판매일 : 2011-01-03 00:00:00 판매 가격 : 57.587898
구입일 : 2011-01-31 00:00:00 구입 가격 : 51.096581
판매일 : 2011-02-01 00:00:00 판매 가격 : 52.536987
구입일 : 2011-02-28 00:00:00 구입 가격 : 56.697117
판매일 : 2011-03-01 00:00:00 판매 가격 : 57.616322
구입일 : 2011-03-31 00:00:00 구입 가격 : 56.952976
판매일 : 2011-04-01 00:00:00 판매 가격 : 56.640263
구입일 : 2011-04-29 00:00:00 구입 가격 : 58.94302
판매일 : 2011-05-02 00:00:00 판매 가격 : 56.971931
구입일 : 2011-05-31 00:00:00 구입 가격 : 55.105083
판매일 : 2011-06-01 00:00:00 판매 가격 : 54.081638
구입일 : 2011-06-30 00:00:00 구입 가격 : 51.731499
판매일 : 2011-07-01 00:00:00 판매 가격 : 50.92601
구입일 : 2011-07-29 00:00:00 구입 가격 : 53.911064
판매일 : 2011-08-01 00:00:00 판매 가격 : 54.356449
구입일 : 2011-08-31 00:00:00 구입 가격 : 59.511593
판매일 : 2011-09-01 00:00:00 판매 가격 : 60.06123
구입일 : 2011-09-30 00:00:00 구입 가격 : 52.300083
판매일 : 2011-10-03 00:00:00 판매 가격 : 51.598824
구입일 : 2014-09-30 00:00:00 구입 가격 : 20.70196
판매일 : 2014-10-01 00:00:00 판매 가격 : 20.740725
구입일 : 2016-03-31 00:00:00 구입 가격 : 19.649097
판매일 : 2016-04-01 00:00:00 판매 가격 : 19.796688
구입일 : 2016-04-29 00:00:00 구입 가격 : 25.414934
판매일 : 2016-05-02 00:00:00 판매 가격 : 24.982004
구입일 : 2016-05-31 00:00:00 구입 가격 : 22.217159
판매일 : 2016-06-01 00:00:00 판매 가격 : 22.354908
구입일 : 2016-06-30 00:00:00 구입 가격 : 27.264723
판매일 : 2016-07-01 00:00:00 판매 가격 : 28.583189
구입일 : 2016-07-29 00:00:00 구입 가격 : 30.098446
판매일 : 2016-08-01 00:00:00 판매 가격 : 30.432981
구입일 : 2016-08-31 00:00:00 구입 가격 : 25.080399
판매일 : 2016-09-01 00:00:00 판매 가격 : 25.995451
구입일 : 2016-09-30 00:00:00 구입 가격 : 26.005293
판매일 : 2016-10-03 00:00:00 판매 가격 : 25.542843
구입일 : 2016-10-31 00:00:00 구입 가격 : 24.125984
판매일 : 2016-11-01 00:00:00 판매 가격 : 24.726181
구입일 : 2016-11-30 00:00:00 구입 가격 : 20.495279
판매일 : 2016-12-01 00:00:00 판매 가격 : 20.328011
구입일 : 2016-12-30 00:00:00 구입 가격 : 20.643339
판매일 : 2017-01-03 00:00:00 판매 가격 : 21.472231
구입일 : 2017-01-31 00:00:00 구입 가격 : 23.613533
판매일 : 2017-02-01 00:00:00 판매 가격 : 23.534592
구입일 : 2017-02-28 00:00:00 구입 가격 : 22.547815
판매일 : 2017-03-01 00:00:00 판매 가격 : 22.676096
구입일 : 2017-03-31 00:00:00 구입 가격 : 22.508345
판매일 : 2017-04-03 00:00:00 판매 가격 : 22.893188
구입일 : 2017-11-30 00:00:00 구입 가격 : 22.17284
판매일 : 2017-12-01 00:00:00 판매 가격 : 22.192577
구입일 : 2017-12-29 00:00:00 구입 가격 : 23.117683
판매일 : 2018-01-02 00:00:00 판매 가격 : 23.694632
구입일 : 2018-02-28 00:00:00 구입 가격 : 21.237633
판매일 : 2018-03-01 00:00:00 판매 가격 : 21.456474
구입일 : 2018-06-29 00:00:00 구입 가격 : 22.192579
판매일 : 2018-07-02 00:00:00 판매 가격 : 21.963789
구입일 : 2019-02-28 00:00:00 구입 가격 : 22.24
판매일 : 2019-03-01 00:00:00 판매 가격 : 21.700001
구입일 : 2019-03-29 00:00:00 구입 가격 : 22.42
판매일 : 2019-04-01 00:00:00 판매 가격 : 21.959999
구입일 : 2019-04-30 00:00:00 구입 가격 : 20.889999
판매일 : 2019-05-01 00:00:00 판매 가격 : 20.52
1.165001849964831

            Adj Close   STD-YM trade  return   acc_rtn
Date
2006-05-22  34.280224  2006-05           1.0  1.000000
2006-05-23  34.952393  2006-05           1.0  1.000000
2006-05-24  33.626480  2006-05           1.0  1.000000
2006-05-25  35.283867  2006-05           1.0  1.000000
2006-05-26  35.495640  2006-05           1.0  1.000000
...               ...      ...   ...     ...       ...
2019-06-18  23.670000  2019-06           1.0  1.165002
2019-06-19  24.000000  2019-06           1.0  1.165002
2019-06-20  25.049999  2019-06           1.0  1.165002
2019-06-21  25.209999  2019-06           1.0  1.165002
2019-06-24  25.703501  2019-06           1.0  1.165002

[3295 rows x 5 columns]